#  FICHIERS SYSTÈME ET GÉNÉRAUX
.DS_Store
*.log
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.cover
__pycache__/
.pytest_cache/
.cache/

#  OUTILS DE DÉVELOPPEMENT & CONFIG
.vscode/
.idea/
*.code-workspace

#  BACKEND (Django / Python)
backend/env/
backend/.env
backend/.env.*
backend/*.sqlite3
backend/db.sqlite3
backend/__pycache__/
backend/staticfiles/
backend/media/
backend/*.log
backend/.pytest_cache/
backend/coverage/
backend/**/migrations/

env/
cookies.txt
*.cookies

# Pip / Poetry / Pipenv
Pipfile.lock
poetry.lock

# FRONTEND (Next.js / React / Node.js)
frontend/node_modules/
frontend/.next/
frontend/.turbo/
frontend/.env
frontend/.env.*
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/package-lock.json
frontend/yarn.lock
frontend/pnpm-lock.yaml
frontend/out/
frontend/dist/
frontend/.cache/
dist/
build/

#  TESTS & COVERAGE
.coverage
coverage.*
htmlcov/
reports/
test-output/
jest.config.js
frontend/coverage/

# DOCKER 
*.pid
*.pid.lock
.dockerignore
docker-compose.override.yml
.env.docker

# LINTER / FORMATTER (optionnel)
.mypy_cache/
.prettierignore
.eslintcache

# FICHIERS DIVERS
notes.md
**/notes.md
tables.sql
